<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create new user</h4>
			</div>
			<div class="modal-body">
				<form name="form" class="form-validation" novalidate>
					<div ng-repeat="prop in model">
						<div class="clearfix"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{prop.nice}}</label>
							<div ng-class="{'has-error': form[prop.name].$dirty && form[prop.name].$invalid}" class="col-sm-10">
								<input id="{{prop.name}}" name="{{prop.name}}" ng-model="user[prop.name]"
									   type="{{prop.type}}" class="form-control"
									   placeholder="{{prop.placeholder}}" required>
								<span class="help-block " ng-show="form[prop.name].$dirty && form[prop.name].$invalid">
									<span ng-repeat="err in prop.error" ng-show="form[prop.name].$dirty && form[prop.name].$invalid">
										<span ng-show="form[prop.name].$error[err.type]">{{err.message}}</span>
									</span>
							</span>
							</div>
						</div>
					</div>

					<div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="zonesSelector">Role:</label>
							<div ng-class="{'has-error': form.zonesSelector.$dirty && form.zonesSelector.$invalid}" class="col-sm-10">
							<select id='zonesSelector' name="zones" ng-model="user.zones" required>
								<option ng-repeat="zone in usersZones" value="{{zone.name}}" >{{zone.nice}}</option>
							</select>
							<span class="help-block "
								  ng-show="form.zonesSelector.$dirty && form.zonesSelector.$invalid">
								<span ng-show="form.zonesSelector.$error.required">Access zones are required</span>
							</span>
						</div>
						</div>
					</div>

					<div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="statusSelector">Status:</label>
							<div ng-class="{'has-error': form.is_active.$dirty && form.is_active.$invalid}" class="col-sm-10">
							<select id='statusSelector' name="is_active" ng-model="user.is_active" required>
								<option value="true">Active</option>
								<option value="false">Inactive</option>
							</select>
								<span class="help-block " ng-show="form.statusSelector.$dirty && form.statusSelector.$invalid">
									<span ng-show="form.statusSelector.$error.required">The status field is required</span>
							</span>
						</div>
					</div>
					</div>
				</form>

				<div class="clearfix"></div>
			</div>

			<div class="modal-footer" style="text-align: left">
				<div class="alert alert-info" ng-show="form.$invalid">All field are required.</div>
				<button class="btn btn-lg btn-primary btn-block" ng-click="createUser()" ng-disabled='form.$invalid'>
					Create new user
				</button>
			</div>
		</div>
	</div>
</div>